<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Events at the Blair Public Library in Blair, Nebraska.">
    <title>Blair Public Library</title>
    {% set style %} {% include "style.scss" %} {% endset %}<style>{{ style | sassmin | safe }}</style>
    <script src="/script.js" defer></script>
    <script data-goatcounter="https://bpl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Blair Public Library</h1>
        <nav>
          <ul>
            <li><a href="https://blair.biblionix.com/catalog/">Library Catalog</a></li>
            <li><a href="tel:+14024263617">Call the Library</a></li>
            <li><a href="https://calendar.google.com/calendar/embed?src=c_eded8890603100e466b60a42ff6829f8cf8818e54a80d98b6ef9d02e632d70f8%40group.calendar.google.com&ctz=America%2FChicago">View As A Calendar</a></li>
            <li><a href="https://calendar.google.com/calendar/embed?src=c_eded8890603100e466b60a42ff6829f8cf8818e54a80d98b6ef9d02e632d70f8%40group.calendar.google.com&ctz=America%2FChicago">Download iCal File</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>Events</h2>
        <p>You may Register for the events in person at the front desk or by calling <a href="tel:+14024263617">402-426-3617</a></p>
        <input type="search" placeholder="Filter events..." />
        {% for date, dayEvents in events | groupby('date') %}
        <div class="day">
          <h3>{{ date }}</h3>
          {% for event in dayEvents %}
          <div class="event">
            <h4>{{ event.title }}</h4>
            <small>{{ event.time }}</small>
            {% for paragraph in event.description | splitParagraphs %}
            <p>{{ paragraph }}</p>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <p class="hidden" id="no-events">No events found.</p>
      </div>
    </main>
    <footer>
      <div class="container">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2985.6964731947137!2d-96.14885692342878!3d41.55416877127929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793c6914ecacb9d%3A0x646d8242c8e38005!2sBlair%20Public%20Library%20%26%20Technology%20Center!5e0!3m2!1sen!2sus!4v1749484564641!5m2!1sen!2sus"
          height="400"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="Map for 2233 Civic Dr, Blair, NE 68008"
        ></iframe>
        <p>
          This website is not affiliated with the Blair Public Library.
        </p>
        <p>
          Last Updated {{ lastUpdated }}.
          <a href="https://github.com/jmhobbs/blairpubliclibrary.org">Edit on GitHub</a>
        </p>
      </div>
    </footer>
  </body>
</html>
