.day h3 {
  border-bottom: 2px solid #0B3948;
}

.event h4 {
  margin: 0;
  font-size: 1.15em;
}

h1 {
  font-weight: 900;
  font-size: 5em;
}

/* Smaller screens */
@media (max-width: 600px) {
  h1 {
    font-size: 3em;
  }
}

/* Make Google maps embed at bottom flex */
iframe {
  width: 100%;
  border: none;
}

nav {
  ul {
    list-style: none;
    padding: 0;

    li {
      display: inline;
      margin-right: 15px;

      a {
        display: inline-block;
        background-color: #480b44;
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        &:visited, &:active {
          color: white;
        }

        &:hover, &:focus {
          background-color: white;
          color: #480b44;
        }
      }
    }
  }
}

input {
  width: 100%;
  font-size: 1.15em;
  padding: .5em;
  border-radius: 10px;
  border: 1px solid #CCC;
}

.hidden {
  display: none;
}

#no-events {
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}
